* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: url('/static/img/supermercadoHeader.jpeg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.8;
}

header section {
    max-width: 1000px;
    margin: auto;
    padding: 17px 0;
}

header section h1 {
    font-size: 30px;
    text-shadow: 0 3px 4px rgba(0, 0, 0);
}

.conte {
    text-align: center;
}

.conte p {
    font-size: 20px;
    font-weight: bold;
    margin: 10em 0 2em 0;
    text-shadow: 0 3px 4px rgba(0, 0, 0);
}

.conte a {
    color: white;
    text-decoration: none;
    background: #f74a4a;
    padding: 4px 20px;
    border-radius: 30px;
    font-size: 15px;
    margin: 10px;
}

/* Código css para el requisito 1 (catálogo productos) */

#container-requisito-1 {
    padding: 10px 5px;
    width: 100%;
    display: flex;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    border-bottom: 2px solid black;
}

.catalogo {
    width: 100%;
    transition: .5s ease;
    padding-top: 5%;
}

.catalogo .fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.catalogo .fila .item {
    max-width: 210px;
    padding: 30px;
    height: 300px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

.catalogo .fila .item:hover {
    background-color: #f7cc7d;
}

.catalogo .fila .item img {
    width: 100%;
    margin: 15px 0;
}

.catalogo .fila .item .description {
    color: #f74a4a;
    font-weight: bold;
}

.catalogo .fila .item .price {
    color: #8EC5FC;
    font-weight: bold;
    font-size: 20px;
}

.item-select {
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    visibility: hidden;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.info {
    padding: 20px;
}

.info img {
    display: block;
    margin: 30px;
    width: 80%;
}

.info h2 {
    color: #000;
    margin-bottom: 10px;
}

.info p {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
}

.info .price {
    font-size: 30px;
    font-weight: bold;
    color: #8EC5FC;
    margin-bottom: 10px;
    display: block;
}

.info .fila {
    display: flex;
    align-items: flex-end;
}

.info .fila label {
    display: block;
    margin-bottom: 10px;
}

.info .fila input {
    width: 100px;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    padding: 6px;
    font-size: .9rem;
    color: white;
}

.info .fila button {
    height: 40px;
    border: none;
    padding: 0 10px;
    color: #fff;
    background-color: #e48749;
    cursor: pointer;
}

/* Código css para el requisito 2 (login y registro) */



/* Código css para el requisito 3 (cookies) */

#container-requisito-3 {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-bottom: 2px solid #000;
}

.cookies-banner {
    height: 300px;
    width: 550px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0);
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 15px 15px 15px;
    box-sizing: border-box;
    bottom: 20px;
    left: 77%;
    transform: translate(-50%, 0%);
    animation: show-cookies 2s;
}

@keyframes show-cookies {
    0% {
        transform: translate(-50%, 100%);
    }

    100% {
        transform: translate(-50%, 0%);
    }
}

.cookie-1,
.cookie-2,
.cookie-3,
.cookie-4,
.cookie-5 {
    height: 40px;
    width: auto;
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
    animation: go-down 4s;
}

@keyframes go-down {
    0% {
        transform: translate(-50%, -260%);
    }

    40% {
        transform: translate(-50%, -260%);
    }
}

.cookie-1 {
    top: 10px;
    left: 10%;
}

.cookie-2 {
    top: 9%;
    left: 30%;
    height: 30px;
}

.cookie-3 {
    top: 14%;
    left: 50%;
}

.cookie-4 {
    top: 10%;
    left: 70%;
    height: 30px;
}

.cookie-5 {
    top: 5px;
    left: 90%;
    height: 35px;
}

.cookies-title {
    font-size: 28px;
    margin-bottom: 0;
    line-height: 28px;
}

.cookies-info {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 13px;
    color: #000;
    margin-top: 10px;
}

.confirm-btn {
    padding: 10px 70px;
    background-color: #121212;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.more-information-btn {
    color: gray;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}

/* Codigo css para el requisito 4 (carrito de compras) */

#container-requisito-4 {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    height: 100vh;
    width: 100%;
    border-bottom: 2px solid #000;
}

.container-shopping-car {
    height: 100%;
    width: 90%;
    padding-top: 7%;
    padding-left: 10%;
    overflow: hidden;
    position: sticky !important;
    top: 0;
}

.container-shopping-car .header-car {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.container-shopping-car .car-items {
    border: 1px solid #000;
    max-height: 300px;
    overflow: hidden;
}

.container-shopping-car #carrito-vacio {
    padding: 35px 0;
    text-align: center;
    border: 1px solid #000;
    text-transform: uppercase;
    color: #666;
}

.container-shopping-car .car-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #666;
}

.container-shopping-car .car-item img {
    margin-right: 20px;
}

.container-shopping-car .car-item .car-item-title {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.container-shopping-car .car-item .selector-cant {
    display: inline-block;
    margin-right: 25px;
}

.container-shopping-car .car-item .car-item-cant {
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
    color: #fff;
}

.container-shopping-car .car-item .selector-cant i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.container-shopping-car .car-item .car-item-price {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.container-shopping-car .car-item .btn-delete {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.container-shopping-car .car-item .btn-delete i {
    pointer-events: none;
}

.container-shopping-car .car-total {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #000;
    border-top: none;
    color: #000;
}

.container-shopping-car .car-total .car-fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-shopping-car .car-total .car-btn-pay {
    display: block;
    width: 35%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.container-shopping-car .car-total .car-btn-pay:hover {
    scale: 1.05;
}

/* Codigo css para el requisito 5 (guardar tarjeta) */
#container-requisito-5 {
    width: 100%;
    height: 100vh;
    border-bottom: 2px solid #000;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    padding: 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.tarjeta {
    width: 100%;
    max-width: 550px;
    position: relative;
    color: #fff;
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 2;
}

.tarjeta.active {
    transform: rotateY(180deg);
}

.tarjeta>div {
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

.tarjeta .delantera {
    width: 100%;
    background: url(/static/img/bg-tarjeta/bg-tarjeta-02.jpg);
    background-size: cover;
}

.delantera .logo-marca {
    text-align: right;
    min-height: 50px;
}

.delantera .logo-marca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
}

.delantera .chip {
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}

.delantera .grupo .label {
    font-size: 16px;
    color: #7d8994;
    margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

.delantera .flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.trasera {
    background: url(/static/img/bg-tarjeta/bg-tarjeta-02.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.trasera .barra-magnetica {
    height: 40px;
    background: #000;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}

.trasera .datos {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.trasera .datos p {
    margin-bottom: 5px;
}

.trasera .datos #firma {
    width: 70%;
}

.trasera .datos #firma .firma {
    height: 40px;
    background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p {
    line-height: 40px;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #000;
    font-size: 30px;
    padding: 0 10px;
    text-transform: capitalize;
}

.trasera .datos #ccv {
    width: 20%;
}

.trasera .datos #ccv .ccv {
    background: #fff;
    height: 40px;
    color: #000;
    padding: 10px;
    text-align: center;
}

.trasera .leyenda {
    font-size: 14px;
    line-height: 24px;
}

.trasera .link-banco {
    font-size: 14px;
    color: #fff;
}

.contenedor-btn .btn-abrir-formulario {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    background: #2364d2;
    color: #fff;
    position: relative;
    top: -25px;
    z-index: 3;
    border-radius: 100%;
    box-shadow: -5px 4px 8px rgba(24, 56, 182, 0.4);
    padding: 5px;
    transition: all .2s ease;
    border: none;
    cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
    background: #1850b1;
}

.contenedor-btn .btn-abrir-formulario .active {
    transform: rotate(45deg);
}

.formulario-tarjeta {
    background: #fff;
    width: 100%;
    max-width: 700px;
    padding: 50px 30px 175px 30px;
    border-radius: 10px;
    position: relative;
    top: -75px;
    max-height: 350px;
    overflow-y: scroll;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .3s ease-out;
}

.leyenda-frontal {
    color: #000;
    margin-top: 35px;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formulario-tarjeta.active {
    overflow-y: scroll;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
    display: block;
    color: #7d8994;
    margin-bottom: 5px;
    font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
    border: 2px solid #CED6E0;
    font-size: 18px;
    height: 50px;
    width: 100%;
    padding: 5px 12px;
    transition: .3s ease all;
    border-radius: 5px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
    border: 2px solid #93BDED;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
    outline: rgb(4, 4, 4);
    box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}

.formulario-tarjeta input {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
    display: flex;
    justify-content: space-between;
}

.formulario-tarjeta .expira {
    width: 100%;
}

.formulario-tarjeta .ccv {
    min-width: 100px;
}

.formulario-tarjeta .grupo-select {
    width: 100%;
    margin-right: 15px;
    position: relative;
}

.formulario-tarjeta select {
    -webkit-appearance: none;
}

.formulario-tarjeta .grupo-select i {
    position: absolute;
    color: #CED6E0;
    top: 18px;
    right: 15px;
    transition: .3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
    color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
    border: none;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    background: #2364d2;
    box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
    cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
    background: #1850b1;
}

/* GO TOP */

.go-top-container {
    position: fixed;
    bottom: -10px;
    right: -10px;
    width: 3rem;
    height: 3rem;
    z-index: -1;
}

.go-top-buttom {
    width: 0rem;
    right: 0rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    transition: .2s;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-buttom i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-buttom {
    animation: popup .5s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 4rem;
        height: 4rem;
    }

    100% {
        width: 3rem;
        height: 3rem;
    }

}

.nombre-empresa {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 30%;
    float: left;
    color: white;
    background-color: #5a6268;
}

.menu-desplegable {
    padding-right: 2%;
    float: right;
}

.menu-desplegable-otras-paginas {
    position: absolute;
    padding-left: 93%;
    padding-top: 2%;
    transition: .5s ease;
}

#carrito-container {
    position: absolute;
    top: 3%;
    z-index: 1000;
}

#carrito-button {
    background: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 15%;
}

#carrito-button img {
    width: 24px; /* Tamaño de la imagen del carrito */
    margin-right: 10px; /* Espaciado entre la imagen y el texto */
}

#contador-carrito {
    background: #e74c3c;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}

